
<html lang="en">
<head>
  <title><%= data.meetup.meetupName %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/assets/css/AddPage.css" rel="stylesheet">
    <link href="/assets/css/OmarStyle.css" rel="stylesheet">
</head>
<body>

<nav id = "navBarHead" class="navbar navbar-fixed-top navbar-dark navbar-expand-md">

                <a class="navbar-brand" href="#">
                  <img src="/assets/img/Tafrah.png" alt="Tafrah">
                  Tafrah
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <i style='color:black' class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse " id="collapsibleNavbar">
                  <ul class="navbar-nav align-items-end">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <br>
                    <li class="nav-item">
                      <a class="nav-link" href="/meetups">Events</a>
                    </li>
                    <% if(userType == 1) { %>
                    <li class="nav-item">
                      <a class="nav-link" href="/meetup/create">Create Event</a>
                    </li>
                    <% } %>
                    <% if(userType == 1) { %>
                    <li class="nav-item">
                      <a class="nav-link" href="/meetup/<%=data.meetup.meetupId%>/edit">Edit Event</a>
                    </li>
                    <% } %>
                    <% if(userType == 1) { %>
                    <li class="nav-item">
                      <a class="nav-link" href="/meetup/<%=data.meetup.meetupId%>/vaidate">Validate users</a>
                    </li>
                    <% } %>
                    <% if(userType == 1) {%>
                    <li class="nav-item">
                      <a class="nav-link" href="/meetup/<%=data.meetup.meetupId%>/addFeedback">Add Feedback Form</a>
                    </li>
                    <% } %>
                      <br>
                  </ul>
                </div>
              </nav>
<div  class="jumbotron MainTron">
 <div class =' container-fluid SubTron'>
    <h2 class='Title' ><%= data.meetup.meetupName %></h2>
    <p class="SubTitle"><%= data.meetup.slogan %></p>
      <br>
      <div  class="LocationAndTime">
      <p style = 'color:lightgray'>
    <span  style = 'color:lightgray' class="fas fa-calendar-alt"></span> <%= data.meetup.meetupDate %> &emsp;
    <span style = 'color:lightgray' class="fas fa-map-marker"></span> <%= data.meetup.district %></p>
    <a class="button1">Buy Ticket</a>
    </div>
 </div>
  </div>
</div>

<div class = "MainDiv">
  <div class="row">
  <div class= "col-xs-12 col-sm-12 col-md-8">
  <h2 class='MainTitle'>Overview</h2>
  <pre class= "OverViewText" > <%= data.meetup.description %> </pre>
  <% if(data.meetup.meetupDate > Date.now()) { %>
  <a href="/meetup/<%=data.meetup.meetupId%>/register" class="float-right FormButton btn btn-outline-dark">Register</a>
  <% } else { %>
  <a href="/meetup/<%=data.meetup.meetupId%>/feedback" class="float-right FormButton btn btn-outline-dark">Give us feedback</a>
  <% } %>
  </div>
  <div class= " SecondDiv col-xs-12 col-sm-12 col-md-4">
    <div class="card">
 <div id="map"></div>
</div>
<h4 class='Speakers'>Speakers</h4>
<div class = "ListWrapper">
<div class="List">
<div class="list-group">
<% console.log(data); %>
  <% data.speakers.forEach(function(data){ %>
 <a href="../users/<%= data.userId %>" class="list-group-item list-group-item-action flex-column align-items-start">
   <div class="d-flex w-100 justify-content-between">
     <h5 class="mb-1"> <%= `${data.firstName} ${data.lastName}` %></h5>
     <small>Today</small>
   </div>
   <p class="mb-1"> <%= data.position %> </p>
   <small> <%= data.email %> </small>
 </a>
  <% })%>
</div>
</div>
  </div>

  <h4 class='Speakers'>Attendees</h4>
  <div class = "ListWrapper">
  <div class="List">
  <div class="list-group">
    <% data.attendees.forEach(function(data){ %>
   <a href="../users/<%= data.userId %>" class="list-group-item list-group-item-action flex-column align-items-start">
     <div class="d-flex w-100 justify-content-between">
       <h5 class="mb-1"> <%= `${data.firstName} ${data.lastName}` %></h5>
       <small>Today</small>
     </div>
     <p class="mb-1"> <%= data.position %> </p>
     <small> <%= data.email %> </small>
   </a>
    <% })%>
  </div>
  </div>
    </div>


  </div>


    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/assets/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3nfuwaNpvJldXYFHprFU0QwD0Jwr74Oc&callback=initMap" async defer></script>

    <script>
         function initMap() {
        var uluru = {lat: <%=data.meetup.latitude%>, lng: <%=data.meetup.longitude%>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: uluru
        });
        var marker = new google.maps.Marker({
                           position: new google.maps.LatLng(<%=data.meetup.latitude%>,<%=data.meetup.longitude%>),
                           map: map
                        });
      }

    </script>
