<!DOCTYPE html>
<% include partials/head %>
<title>Meetups</title>
<hr>
<%console.log("user",userType);%>
<h3 class='MainTitle'> Events </h3>
 <% meetups.forEach(function(data){ %>
<div  class="col-xs-10 col-sm-10 col-md-10 mx-auto jumbotron MainTron">
 <div class ='container-fluid SubTron'>
    <h2 class='Title' > <%= data.meetupName %> </h2>
    <p class="SubTitle"><%= data.slogan %> </p>
      <br>
      <div  class="LocationAndTime">
      <p style = 'color:lightgray'>
    <span  style = 'color:lightgray' class="fas fa-calendar-alt"></span> <%= data.meetupDate %> &emsp;
    <span style = 'color:lightgray' class="fas fa-map-marker"></span> <%= data.district %></p>
    <% var hrf = '/meetup/' + data.meetupId %>
    <a href = <%= hrf %> class="button1">Details</a> &emsp;
    <a class="button1">Buy Ticket</a>
    </div>
 </div>
  </div>
</div>
 <% })%>

 <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/assets/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3nfuwaNpvJldXYFHprFU0QwD0Jwr74Oc&callback=initMap" async defer></script>
    <script>
console.log(<%=userType%>);
</script>
