<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../assets/img/Tafrah Logo.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- this on overrides the bootstrap stylesheet-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/Sign_in_style.css">
    <link rel="stylesheet" href="/assets/css/img_hover.css">
    <title>Tafrah</title>
    <link rel="stylesheet" href="/assets/css/nav_bar_style.css">
    <link rel="stylesheet" href="/assets/css/styleMainPage.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">



  </head>

<body>
        <nav id = "navBarHead" class="navbar navbar-fixed-top navbar-dark navbar-expand-md">

                <a class="navbar-brand" href="#">
                  <img src="/assets/img/Tafrah.png" alt="Tafrah">
                  Tafrah
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <i style='color:black' class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse " id="collapsibleNavbar">
                  <ul class="navbar-nav align-items-end">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <br>
                    <li class="nav-item">
                      <a class="nav-link" href="/meetups">Events</a>
                    </li>
                    <br>
                     <% if(userType == 1) { %>
                    <li class="nav-item">
                      <a class="nav-link" href="/users/<%= userId %>">Profile</a>
                    </li>
                    <li class="nav-item">
                        <script>
                            function del_cookie(name) {
                                document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
                                //window.location = "/";
                            }
                        </script>
                      <a class="nav-link" href="/"onclick="del_cookie('jwt');">Sign out</a>
                    </li>
                    <% }else{ %>
                    <li class="nav-item">
                      <a class="nav-link" href="/users/signin">Sign in</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/users/signup">Sign up</a>
                    </li><%} %>

                  </ul>
                </div>
              </nav>
  </div>
  <!-- the beggening of our about section -->
  <section class="about text-center">
      <h1>Welcome<span>Tafra inc</span></h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing <strong> elit.</strong> Placeat eligendi expedita libero asperiores est eveniet, consectetur quas, iste doloribus dolorum adipisci repudiandae commodi voluptate et quis laboriosam vero minus autem!</p>
  </section>
  <!-- end of section about us-->
  <!-- start section features-->
  <section>
    <div class="container text-center">
          <h1>Upcoming Events</h1>
          <div class="row">
              <div class="col-lg-6 col-md-12" style="">
                 <div class="feat">
                       <figure class="snip0019">
                          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample11.jpg"alt="sample11" height="250px"/>
                          <figcaption>
                              <div><h2><%=result.upcoming[0].meetupName%></h2></div>
                              <div><p><%=result.upcoming[0].slogan%></p></div>
                              <a href="/meetup/<%=result.upcoming[0].meetupId%>"></a>
                          </figcaption>
                      </figure>
                 </div>
              </div>
              <div class="col-lg-6 col-md-12" style="">
                  <div class="feat">
                      <figure class="snip0019">
                          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample11.jpg"alt="sample11" height="250px"/>
                          <figcaption>
                              <div><h2><%=result.upcoming[1].meetupName%></h2></div>
                              <div><p><%=result.upcoming[1].slogan%></p></div>
                              <a href="/meetup/<%=result.upcoming[1].meetupId%>"></a>
                          </figcaption>
                      </figure>
              </div>

          </div>
    </div>

</section>
   <!-- end section features-->
  <!--start team-->
    <section class="ourTeam text-center">
        <div class="team">
            <div class="container">
                    <h1>meet our team</h1>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="person">
                                <img src="../assets/img/person265x256.png" class="rounded-circle" alt="team1" height="250px" width="250px"/>
                                <h3>ahmed</h3>
                                <p>some text about the team member</p>
                                <i class="fab fa-facebook-f fa-lg"></i>
                                <i class="fab fa-twitter fa-lg"></i>
                                <i class="fab fa-linkedin-in fa-lg"></i>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="person">
                                    <img src="../assets/img/person265x256.png" class="rounded-circle" alt="team2" height="250px" width="250px"/>
                                    <h3>ahmed</h3>
                                    <p>some text about the team member</p>
                                    <i class="fab fa-facebook-f fa-lg"></i>
                                    <i class="fab fa-twitter fa-lg"></i>
                                    <i class="fab fa-linkedin-in fa-lg"></i>
                             </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="person">
                                    <img src="../assets/img/person265x256.png" class="rounded-circle" alt="team3" height="250px" width="250px"/>
                                    <h3>ahmed</h3>
                                    <p>some text about the team member</p>
                                    <i class="fab fa-facebook-f fa-lg"></i>
                                    <i class="fab fa-twitter fa-lg"></i>
                                    <i class="fab fa-linkedin-in fa-lg"></i>
                             </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="person">
                                    <img src="../assets/img/person265x256.png" class="rounded-circle" alt="team4" height="250px" width="250px"/>
                                    <h3>ahmed</h3>
                                    <p>some text about the team member</p>
                                    <i class="fab fa-facebook-f fa-lg"></i>
                                    <i class="fab fa-twitter fa-lg"></i>
                                    <i class="fab fa-linkedin-in fa-lg"></i>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- start section statistics -->

    <section class="statistics text-center">
        <div class="data">
            <div class="container">
                <h1>Our Main Statistics</h1>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="stats">
                            <i class="fa fa-users fa-6x"></i>
                            <p><%=result.numberOfUsers%></p>
                            <span>our community members</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="stats">
                            <i class="fas fa-calendar-alt fa-6x"></i>
                            <p><%=result.numberOfMeetups%></p>
                            <span>our events</span>
                        </div>
                    </div>

                 </div>
             </div>
        </div>

    </section>
    <!-- start section Sillks -->
    <section class="ourSkills">
        <div class="container">
            <h1 class="text-center">Our Organization</h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <div class="skillsInfo">
                        <h3> About Us</h3>
                        <p class="lead">Tafrah is a platform that empowers MENA region techies to disrupt tech industries worldwide.</p>
                        <button type="button" class=" btn btn-primary" onclick="location.href = 'users/signin';" >Discover More (sign in)</button>
                    </div>
                </div>
                <!-- end team info -->
            </div>
        </div>
    </section>
    <!-- strat sponsers> -->

    <!-- strat footer> -->
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <h3>Sitemap</h3>
                    <ul class="list-unstyled three colomns">
                        <li><a href="/">Home</a></li>
                        <li><a href="/meetups">Events</a></li>
                    </ul>
                    <ul class="list-unstyled socialList">
                        <li><a href="https://www.facebook.com/tafranetwork/"><img src="../assets/img/if_facebook_64.png"/></a></li>
                        <li><a href="https://twitter.com/tafranetwork"><img src="../assets/img/if_twitter.png" width="65" height="65"/></a></li>
                        <li><a href="https://www.linkedin.com/company/tafranetwork/"><img src="../assets/img/if_linkedin_64.png"/></a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="copyRight text-center">
            Copyright &copy; 2014 <span>Your template</span>.inc
        </div>
    </section>
    <!-- end footer> -->

</body>
