<% include partials/head %>
<div id ="<%=meetupId%>" class = " MainValidate">
<h4 class='Speakers'>Attendees</h4>
  <div class="list-group">
  <% console.log(data) %>
    <% data.forEach(function(data){ %>
   <a class="list-group-item disabled list-group-item-action flex-column align-items-start">
     <div class="d-flex w-100 justify-content-between">
       <h5 class="mb-1"> <%= `${data.firstName} ${data.lastName}` %></h5>
         <div class="pull-right">
         <% if(data.verified == 0) { %>
<input id="<%=data.userId%>" value = "<%= data.verified %>" name="<%=data.userId%>" type="checkbox">
        <% } else { %>
        <input id="<%=data.userId%>" value = "<%= data.verified %>" checked name="<%=data.userId%>" type="checkbox">
        <% } %>
     </div>
     </div>
     <p class="mb-1"> <%= data.position %> </p>
     <small> <%= data.email %> </small>
   </a>
    <% })%>
    <a class="list-group-item  list-group-item-action flex-column align-items-start">
      <button type="button" onclick = "SubmitFun()" class="float-right btn btn-primary">Primary</button>
   </a>
</div>
  </body>
  <style>
  .MainValidate
  {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  </style>
   <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/assets/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script>
    function SubmitFun()
      {
        var AnswersArray = [];
        var OldAnswers = [];
        var ChangedAnswers = [];
            $('input').each(function() {
              OldAnswers.push($(this).attr('value'));
              AnswersArray.push(
                {
                  verified:$(this).is(':checked'),
                  userId: $(this).attr('id')
                });
               console.log($(this).is(':checked'));
               console.log($(this).attr('value'));
              });
        for( var i = 0; i < AnswersArray.length; i++)
        {
              if(OldAnswers[i] != AnswersArray[i].verified)
              {
                ChangedAnswers.push(AnswersArray[i]);
              }
        }
        var meetId = $('.MainValidate').attr('id');
        var post =
        {
          verifiedUsers: ChangedAnswers,
          meetupId: meetId
        }
        $.ajax({
                            url: '/meetup/'+meetId+'/validate',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(post),
                            success: function(data)
                            {
                                window.location.href = '/meetup/'+meetId
                            },
                            error: function(xhr, textStatus, error)
                            {
                              alert(xhr.responseJSON);
                              alert(xhr.responseText);
                            }
      })
      }

  </script>
